
.testBox{
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 600px;
    background-color: red;
    overflow: auto;
}

.testBox2{
    height: 600px;
    background-color: green;
    width: 100%;
}

.testBox3{
    height: 200px;
    background-color: orange;
    width: 100%;
}

.testBox4{
    height: 200px;
    background-color: black;
    width: 100%;
}