:root {
  --primary-color: #052460;

  --navbarHeight: 60px;
}

*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 500px;
}

body{
  margin: 0;
  padding-top: var(--navbarHeight);
}

p{
  margin: 0;
}



