
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100%;
}

.test{
  opacity: 0.4;
}

html{
  scroll-padding-top: 200px;
}